
body {
  background-color: white;
  font-family: "Helvetica", Arial, sans-serif;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

h3 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: serif;
  font-size: 1vw;
  font-weight: bold;
  color: black;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: serif;
  font-size: 2vw;
  font-weight: bold;
  color: black;
}


h1 {
  text-align: center;
  margin-top: 7%;
  margin-bottom: none;
  font-family: serif;
  font-size: 5svw;
  font-weight: bold;
  color: black;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

input[type="submit"] {
  display: inline-block;
  background-color: blue;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vw;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 10px;
  transition: background-color 200ms ease-in-out;
  letter-spacing: 0.05em;
  border: none;
  margin-top: 1%;
  margin-bottom: 1%;
}
a:hover,
a:focus,
a:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  background-color: black;
}

input[type="text"],
textarea {
  padding: 10px 0;
  text-indent: 10px;
  border: solid 2px #ddd;
  border-radius: 10px;
  font-size: 2vw;
}

input[type="radio"] {
  transform: scale(2);
  font-size: 5rem;
}

select {
  padding: 1rem;
  text-indent: 10px;
  border: solid 2px #ddd;
  border-radius: 10px;
  font-size: 2rem;

}

#difficulty_dropdown {
  padding: 10px 0;
  text-indent: 10px;
  border: solid 2px #ddd;
  border-radius: 10px;
  font-size: 2vw;
}

img.top {
  width:20%;height:2%;
  margin: 2rem auto;
}

.active {
  background-color: #4CAF50;
}

.grid-container {
  background-color: white; 
  margin: 0 auto;
  width: 40rem;
  height: 40rem;
}

.flex-container {
  display: block;
  background-color: black;
  border-radius: 10px;
  width: 40rem;
  height: 40rem;
  padding: 10%;
  margin: 0 auto;
}

.grids {
  background-color: black;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: rgba(0,0,0,0.4);
    margin: 2% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%; 
    height: 90%;
}



